* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Cormorant Garamond', serif;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(img/atas.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 1;
  font-size: 60px;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.pelajari {
  background-color: #c0392b;
}


.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.heading {
  text-align: center;
}

footer {
  height: 50px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
}

.footer-left {
  float: left;
}
.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #d8584f;
  cursor: pointer;
  box-shadow: 0 7px #c0392b;

}

/* Tambahkan CSS untuk message ketika diklik */
.message :active {
  box-shadow: none;
  position: relative;
  top: 7px;
}

.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
  text-align: center;
}

.lesson {
  float: left;
  width: 20%;
}

.lesson-icon {
  position: relative;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
  color: #4b0082;
}

.lesson-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}


body .goals-wrapper{
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body .goals-wrapper p{
  color:#999999;
}
.goals-wrapper .heading h1{
  color:black;
}
 
.goals-wrapper b{
  color:#c0392b;
}
.goals-wrapper{
  width:100%;
  /*padding-top:50px;*/
  padding-bottom:50px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}
.icon{
  font-size: 50px;  
}
.icon i{
  color:#c0392b;  
}
.goal{
  display:flex;
  flex-wrap:wrap;  
}
.content{
  margin: 25px 25px;
  padding:10px;
  /*-webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;*/
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important; 
  -webkit-box-background:rgba(255,255,255, 0.5);
  width:10%;
  flex:auto;
}
.desc h3{
  padding:5px 0px;
  letter-spacing: 3px;
  /*border-bottom: 1px solid #3e64ff;
  border-bottom-width:50% ;*/
}
.desc{
  padding:10px;
} 
.content:hover {
  background: #c0392b; 
  cursor:pointer;
  transition: all 0.5s;
}
.content:hover .icon i {
  color: #fff;
  transition: all 0.5s;
}
.content:hover p{
  color:#fff;
  transition: all 0.5s;
}
